.card {
  background-color: white;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
}

.card-bordered {
  border: 1px solid var(--neutral-200);
}

.card-shadow-none {
  box-shadow: none;
}

.card-shadow-sm {
  box-shadow: var(--shadow-sm);
}

.card-shadow-md {
  box-shadow: var(--shadow-md);
}

.card-shadow-lg {
  box-shadow: var(--shadow-lg);
}

.card-padding-none {
  padding: 0;
}

.card-padding-sm {
  padding: var(--spacing-sm);
}

.card-padding-md {
  padding: var(--spacing-md);
}

.card-padding-lg {
  padding: var(--spacing-lg);
}

.card-padding-xl {
  padding: var(--spacing-xl);
}
